
@font-face {
font-family: 'Hani';
src: url(/Hani/Hani.woff2) format("woff2");
}

* {
    font-family: 'Hani', sans-serif;
    text-decoration: none;
    color: white;
}

h1{
    font-size: 4rem;
    
    line-height: 4rem;
    
    margin: 0px;
   
}

h2{
    font-size: 3rem;
   
    line-height: 3rem;
   
    margin-top: 20px;
   
}


.title {
    padding-right: 50px;
    color: white;
}


* > a:hover {
   color: rgb(50, 50, 179);
}

body {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-left: 10vw;
   
    padding-top: 50px;
}

.project {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    min-height: 10vh;
}


.content {
    width: 60vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    transition: 0.3s ease-in-out;
    color: black;
   margin-bottom: 5vh;

}

.content:hover {
    background-color: rgb(50, 50, 179);
    color: white;
}


@media screen and (max-width: 640px) {
.content {
    justify-content: left;
    padding-left: 20px;
}


}